<!DOCTYPE html>
<html>
<head>
	<title>Food Gallery</title>
	<link rel="stylesheet" type="text/css" href="/static/assets/css/galstyle.css">
</head>
<body>
  <div class="container">
    <div class="heading">
      <h3><span>Food Gallery</span></h3>
    </div>
    <div class="box">
      
      <div class="dream">
        <img src="/static/images/fpic03.jpg">
        <img src="/static/images/fpic01.jpg">

        <img src="/static/images/fpic13.jpg">
            <img src="/static/images/fpic09.jpg">
        <img src="/static/images/fpic10.jpg">
      </div>
      
		<div class="dream">
          <img src="/static/images/fpic07.jpg">
        <img src="/static/images/fpic02.jpg">
          <img src="/static/images/fpic08.jpg">
          <img src="/static/images/fpic11.jpg">
          <img src="/static/images/fpic15.jpg">
          <img src="/static/images/fpic16.jpg">
            
      </div>

        <div class="dream">
        <img src="/static/images/fpic06.jpg">
         <img src="/static/images/fpic04.jpg">
          <img src="/static/images/fpic12.jpg">
          <img src="/static/images/fpic05.jpg">
          <img src="/static/images/fpic14.jpg">
          <img src="/static/images/fpic17.jpg">



    </div>





  </div>

</body>
</html>
