<!DOCTYPE HTML>
<!--
	Seda Piyadeoğlu <3<3<3 Deniz Aydın
-->
<html>
	<head>
		<title>Anı Defteri</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" class="divided">

				<!-- One -->
					<section class="banner style1 orient-left content-align-left image-position-right fullscreen onload-image-fade-in onload-content-fade-right">
						<div class="content">
							<h1>Anı Defterimiz</h1>
							<p class="major">Sevgili bitanem,<br> Bu site, seni her şeyden çok seven sevgilin tarafından anılarımızı dijital ortama taşımak ve sana tatlı bir doğumgünü sürprizi yapıp şaşırtmak için hazırlanmıştır umarım beğenirsin.</p>
							<ul class="actions stacked">
								<li><a href="#first" class="button big wide smooth-scroll-middle">Devamını görmek için</a></li>
							</ul>
						</div>
						<div class="image">
							<img src="/static/images/ban.jpg" alt="" />
						</div>
					</section>

				<!-- Two -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>22 Temmuz 2020</h2>
							<p>İlk buluşmamızda foto çekinmedik o nedenle anı defterini ikinci buluşmamızdan olan bu tatlı fotoyla başlatıyorum. Sahilde piknik yapıp günbatımını izlediğimiz günden. İlişkimizin ilk fotoğrafı diyebiliriz sanırım :) </p>

						</div>
						<div class="image">
							<img src="/static/images/pic01.jpg" alt="" />
						</div>
					</section>

				<!-- Three -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>2019??</h2>
							<p>Normalde kronolojik gitmeyi düşünmüştüm ama bu efsane fotoyu yukarılara koymasam olmazdı. Uzaylı Seda yukarılarda olmayı hak ediyor :D</p>

						</div>
						<div class="image">
							<img src="/static/images/pic02.jpg" alt="" />
						</div>
					</section>

				<!-- Four -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>11 Ağustos 2020</h2>
							<p>İlk ayımızdan tatlış bir foto. Yeni çıkmaya başladığımız kısa ama bana aşırı uzun gelen bir süre ayrı kalmamızdan sonraki buluşmamızdan.</p>

						</div>
						<div class="image">
							<img src="/static/images/pic03.jpg" alt="" />
						</div>
					</section>
				<!-- Five -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>2017??</h2>
							<p>Evet yine baya tarih öncesinden ama tatlı mı tatlı bir foto. Berkecen Pelinsu efsanesinin başladığı güne ait bir şaheser.</p>

						</div>
						<div class="image">
							<img src="/static/images/pic04.jpg" alt="" />
						</div>
					</section>

				<!-- Six -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>8 Şubat 2021</h2>
							<p>Uzun bir kış arasından sonra sahilde oturduğumuz ilk güne ait bir foto. Hani şu önce tshirtle sıcaktan kavrulup sonra soğuktan mont giydiğimiz gün vardı ya. Benim favorim fotoğraflarımdan biri yine bu.</p>

						</div>
						<div class="image">
							<img src="/static/images/pic05.jpg" alt="" />
						</div>
					</section>
				<!-- Seven -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>23 Nisan 2021</h2>
							<p>Birlikte geçirdiğimiz ilk çocuk bayramından tatlı bir kesit. 2 saat boyunca poşet taşımaktan her ne kadar elim yaralanmış olsa da senle geçirdiğim her saniyesine değdi. Korona zamanı da haftasonu buluşmaları böyle oluyormuş artık napalım.</p>

						</div>
						<div class="image">
							<img src="/static/images/pic06.jpg" alt="" />
						</div>
					</section>
				<!-- Eight -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>3 Temmuz 2021</h2>
							<p>Biz de sevgili dediğin mermi gibi olur, ihtiyacın olduğunda namluda hazır durur.</p>

						</div>
						<div class="image">
							<img src="/static/images/pic07.jpg" alt="" />
						</div>
					</section>
				<!-- Nine -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>16 Temmuz 2021</h2>
							<p>İlk yıldönümümüzden aşırı tatlı bir fotoğraf. Ich und meine liebe :) <br>Birlikte nice güzel yıldönümlerine bitanem 💗 </br><p>
							
						</div>
						<div class="image">
							<img src="/static/images/pic08.jpg" alt="" />
						</div>
					</section>
				<!-- Ten -->
					<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>27 Ağustos 2021</h2>
							<p>Barışmamız sonrası operasyonda etrafa adelet dağıtırken çekilmiş tatlı fotoğrafımız. <br>Beni mecazi kalbimden hep vuruyorsun, o gün literally de vurmuştun :)</p>

						</div>
						<div class="image">
							<img src="/static/images/pic09.jpg" alt="" />
						</div>
					</section>
				<!-- Eleven -->
					<section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in">
						<div class="content">
							<h2>6 Eylül 2021</h2>
							<p>Seda Piyadeoğlu, benim her şeyimsin, Seni bu dünyadaki her şeyden daha çok seviyorum ve seveceğim. <br> Seni mutlu etmek hayattaki en büyük mutluluğum. Dijital ortamda sana şimdi bir söz veriyorum ve bunu dijital olarak ölümsüzleştiriyorum. <br> Seda Piyaeoğlu, Seni hep mutlu etmeye devam edeceğime, seni her zaman, sonsuza dek seveceğime sana söz veriyorum. 💗<p>
						</div>
						<div class="image">
							<img src="/static/images/pic10.jpg" alt="" />
						</div>
					</section>
				<!----------->
					<section class="wrapper style1 align-center">
						<div class="inner">
							<h2>Galeri</h2>
							<p>Bitanem senin gibi iyi bir yazar değilim o nedenle teker teker her fotoya anlamlı şeyler yazamadım beni affet. Fakat bu açığımı yazı yerine kod yazarak telafi etmeye çalıştım umarım beğenmişsindir. Umarım ileride daha nicelerini buraya ekleriz. İyiki doğdun iyiki varsın bitanem. <br> -Seni her şeyden çok seven sevgilin Deniz</p>
						</div>

						<!-- Gallery -->
							<div class="gallery style2 medium lightbox onscroll-fade-in">
								<article>
									<a href="/static/images/gpic11.jpg" class="image">
										<img src="/static/images/gpic11.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic10.jpg" class="image">
										<img src="/static/images/gpic10.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic12.jpg" class="image">
										<img src="/static/images/gpic12.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic09.jpg" class="image">
										<img src="/static/images/gpic09.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic08.jpg" class="image">
										<img src="/static/images/gpic08.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic01.jpg" class="image">
										<img src="/static/images/gpic01.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic02.jpg" class="image">
										<img src="/static/images/gpic02.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic03.jpg" class="image">
										<img src="/static/images/gpic03.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic04.jpg" class="image">
										<img src="/static/images/gpic04.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic05.jpg" class="image">
										<img src="/static/images/gpic05.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic06.jpg" class="image">
										<img src="/static/images/gpic06.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
								<article>
									<a href="/static/images/gpic07.jpg" class="image">
										<img src="/static/images/gpic07.jpg" alt="" />
									</a>
									<div class="caption">
										<ul class="actions fixed">
											<li><span class="button small">Büyüt</span></li>
										</ul>
									</div>
								</article>
							</div>

					</section>


				<!-- Footer -->
					<footer class="wrapper style1 align-center">
						<div class="inner">
							<p>&copy; Tüm hakları saklıdır :D</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/static/assets/js/jquery.min.js"></script>
			<script src="/static/assets/js/jquery.scrollex.min.js"></script>
			<script src="/static/assets/js/jquery.scrolly.min.js"></script>
			<script src="/static/assets/js/browser.min.js"></script>
			<script src="/static/assets/js/breakpoints.min.js"></script>
			<script src="/static/assets/js/util.js"></script>
			<script src="/static/assets/js/main.js"></script>

	</body>
</html>
