<!DOCTYPE html>
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<style>
			h2 {text-align: center;}
			h4 {text-align: center;}
			p {text-align: center;}
			div {text-align: center;}
				p {
		margin: 0 0 2rem 0;
	}

		p.major {
			font-size: 1.25rem;
		}
		</style>
</head>
<html>
<body>
<br>
<h2><b>Mission #1</b></h2>
<div id="wrapper" class="divided">
	<br>
	<p><br>Bebeğim 2022 Yılbaşı Mystery Hunt'ın hoş geldin :) <br><br>
	Siteye yeni bir alan eklemeye karar verdim ama bunu kalıcı olarak açabilmek istiyorsan 10 adet görevi tamamlamak zorundasın<br><br>
	Görevlerin boyunca doğrusal bir şekilde 10 tane site sayfasını bulmanı ve son aşamaya ulaşıp son butona tıklaman gerekecek<br><br>
	Hazırsan ilk soruyla başlayalım bebeğim<br><br>
	<b>Mission #1</b> Deniz Aydın'ın ilk evcil hayvanının türü nedir ?
	<br><br>
	<b>https://sedadeniz.herokuapp.com/*****</b>
	<br><br>
	Dipnot : Yukarıdaki linkteki ***** 'ı doldurup bir sonraki aşamaya geç
	
</div>

</body>
</html>
