<!DOCTYPE html>
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<style>
			h2 {text-align: center;}
			h4 {text-align: center;}
			p {text-align: center;}
			div {text-align: center;}
				p {
		margin: 0 0 2rem 0;
	}

		p.major {
			font-size: 1.25rem;
		}
		</style>
</head>
<html>
<body>
<br>
<h2><b>Mission #5</b></h2>
<div id="wrapper" class="divided">
	
	<p><br>
	736 saat yaklaşık 30 güne denk xd<br><br>
	<b>Mission #5</b> Denizin kütüphanesinin alt rafını süsleyen 12 kitaplık serinin adı nedir?
	<br><br>
	<b>https://sedadeniz.herokuapp.com/*****</b>
	<br><br>
	<br><br>
	İpucu : 2 kelime bitişik, toplam 12 harf</p>
	
</div>

</body>
</html>
