<!DOCTYPE html>
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/static/assets/css/noscript.css" /></noscript>
		<style>
			h2 {text-align: center;}
			h4 {text-align: center;}
			p {text-align: center;}
			div {text-align: center;}
				p {
		margin: 0 0 2rem 0;
	}

		p.major {
			font-size: 1.25rem;
		}
		</style>
</head>
<html>
<body>
<br>
<h2><b>Mission #6</b></h2>
<div id="wrapper" class="divided">
	
	<p><br>
	Biraz zorlayacağım sizi şimdi Seda hanım <br><br>
	<b>Mission #6</b> Deniz'in baba memleketi (ilçe) + anne memleketi (ilçe) nedir?
	<br><br>
	<b>https://sedadeniz.herokuapp.com/*****</b>
	<br><br>
	
</div>

</body>
</html>
